.Services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.Services .Service {
    width: 32.5%;
    background-color: #e5e6e8;
    text-align: center;
    border-radius: .25rem;
    padding: 20px;
}

.Services .Service p {
    font-family: helvetica;
    margin-top: 20px;
    font-weight: 600;
}

.Services .Service img {
    width: 100px;
    height:65px;
    max-width: 50%;
    object-fit: contain;
}