/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

.container {
    width: 1400px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


:root {
    --white: #fff;
    --orange: #e20e0e;
    --black: #000;
}

.swiper-button-prev,
.swiper-button-next {
    width: 45px !important;
    height: 45px !important;
    background-color: rgb(255 58 58 / 50%);
    border-radius: 50%;
}

.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-next:after {
    font-size: 25px !important;
    color: var(--white);
}

.swiper-pagination-bullet-active {
    background-color: var(--orange) !important;
}


@font-face {
    font-family: helvetica;
    src: url("../../public/fonts/helvetica_n7.39bee04bd277a9c4e94e2fd42d53f4e3c0afb8a5.woff2");
}

body{
    background-color: #f9fafc;
}