.BestShopping {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 30px;
}

.BestShopping h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.best_shirts {
    justify-content: space-between;
}

.allShirts {
    display: table;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    background-color: #e8e8f0;
    border-radius: 30px;
    padding: 20px 30px;
    font-weight: 600;
    color: #4e4681;
}

.allShirts svg {
    transition: .3s;
    transform: translateX(5px) translateY(1.5px);
}

.allShirts:hover svg {
    transform: translateX(10px) translateY(1.5px);
}